<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="education.cs.scu.mapper.TaskMapper">

    <resultMap id="TaskResultMap" type="TaskBean">
        <result column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="create_time" property="createTime"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="task_type" property="taskType"/>
        <result column="task_status" property="taskStatus"/>
        <result column="task_param" property="taskParam"/>
    </resultMap>

    <insert id="addTask"  parameterType="TaskBean">
        INSERT INTO task (task_id,task_name,create_time,start_time,finish_time,task_type,task_status,task_param)
        VALUES (#{taskId},#{taskName},#{createTime},#{startTime},#{finishTime},#{taskType},#{taskStatus},#{taskParam});
    </insert>

</mapper>