# You should rename this file as db.properties

jdbc.driver=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://localhost:3306/WIFIProbeAnalysis?characterEncoding=UTF-8&useSSL=false
jdbc.username=root
jdbc.password=***Wanghan***
jdbc.remote.username=root
jdbc.remote.password=yuanhao110110
jdbc.remote.url=jdbc:mysql://116.62.41.211:3306/WIFIProbeAnalysis?characterEncoding=UTF-8&useSSL=false