<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




   <!--<bean id="shopMapper" class="education.cs.scu.mapper.Impl.ShopMapperImpl"/>-->
   <bean id="userMapper" class="education.cs.scu.mapper.Impl.UserMapperImpl"/>
   <bean id="probeUserMapper" class="education.cs.scu.mapper.Impl.ProbeUserMapperImpl"/>
   <!--<bean id="propertyMapper" class="education.cs.scu.mapper.Impl.PropertyMapperImpl"/>-->
   <bean id="queryHistoryDataMapper" class="education.cs.scu.mapper.Impl.QueryHistoryDataMapperImpl"/>
   <bean id="userFlowMapper" class="education.cs.scu.mapper.Impl.UserFlowMapperImpl"/>
   <bean id="userVisitMapper" class="education.cs.scu.mapper.Impl.UserVisitMapperImpl"/>
   <bean id="userVisitTimeMapper" class="education.cs.scu.mapper.Impl.UserVisitTimeMapperImpl"/>

   <!-- <bean id="loginService" class="education.cs.scu.service.impl.LoginServiceImpl"/>
    <bean id="userVisitService" class="education.cs.scu.service.impl.UserVisitServiceImpl"/>
    <bean id="userVisitTimeService" class="education.cs.scu.service.impl.UserVisitTimeServiceImpl"/>

    <bean id="shopService" class="education.cs.scu.service.impl.ShopServiceImpl"/>


    <bean id="queryHistoryData" class="education.cs.scu.service.impl.QueryHistoryDataServiceImpl"/>




    <bean id="probeUserService" class="education.cs.scu.service.impl.ProbeUserServiceImpl"/>


    <bean id="propertyService" class="education.cs.scu.service.impl.PropertyServiceImpl"/> -->

</beans>